<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testsResultsServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.TestsResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allTestsServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.AllTestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allTestsForGroupsServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.AllTestsForGroupsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testsResultsServlet</servlet-name>
        <url-pattern>/tests_results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allTestsServlet</servlet-name>
        <url-pattern>/all_tests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allTestsForGroupsServlet</servlet-name>
        <url-pattern>/groups_tests</url-pattern>
    </servlet-mapping>
</web-app>
