<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllGroupsServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.AllGroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGroupServlet</servlet-name>
        <servlet-class>com.ifmo.epampractice.controllers.ViewGroupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllGroupsServlet</servlet-name>
        <url-pattern>/groups/all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGroupServlet</servlet-name>
        <url-pattern>/groups/view</url-pattern>
    </servlet-mapping>
</web-app>
